[2016-01-23 16:37] bloodypenguin opened #2 "Idea: Make sense of buildings names"
Right now no matter what park or unique building you plop it will behave like a generic entertainment building. It would be cool if building a citizen wants to visit would depend on its name (for custom assets some parsing may be applied.

Some examples:
- citizens with pet dogs prefer to go to dog park
- kids prefer to go to playgrounds
- people prefer to go to theaters or cinemas on weekends and

[2016-01-23 16:44] bloodypenguin commented on #2
Also it would be cool if those factors could make different areas more or less desirable for different people

[2016-01-23 16:55] bloodypenguin opened #3 "Idea: People should choose closest entertainment destination"
When people have choice of visiting some place they should prefer the closest to them

[2016-01-23 16:57] bloodypenguin opened #4 "Idea: People visit their friends"
Right now residential buildings can't be visited by cims other than their residents. But what If people will visit their friends, especially on weekends? It will make residential zones more interesting :)

[2016-01-23 16:58] bloodypenguin opened #5 "Idea: Event types"
1) Birthdays
2) Weddings
3) Proms
4) Funerals
5) Parties
6) Fairs
7) Black friday!

[2016-01-23 17:01] bloodypenguin commented on #5
Football/naseball/hockey matches/concerts/movies. Vanilla EventManager works fine for them.
This issue Refs #2 since it's much easier to make an event when building's name makes sense

[2016-01-23 19:24] r4j4h commented on #2
Additionally, it might be interesting and if district policies affected events. Just as starter for conversation this could be as simple as some existing policies acting as modifiers on an events' % chance of occurring.

[2016-01-23 19:31] r4j4h opened #6 "Missing file prevents compilation"
When I try to compile I get an error

[code]

It stems from the presence of this line:

[code]

on line 63 of `RushHour/RushHour.csproj`.

I am going to try removing the include and am presuming it will compile fine then, but figured I should bring it to your attention. :)

[2016-01-23 20:20] seanCodes opened #7 "Commercial demand always high"
Installed this mod last night and noticed my commercial demand skyrocketed and stayed high no matter how much I zoned. Just noticed the latest commit (22608effaee96598a6feb886de4614d3228eb75c) was supposed to fix the problem, so I unsubscribed and re-subscribed in Steam to make sure I had the latest version. Unfortunately, it seems I'm still experiencing issue. :confused: I disabled the mod to ver

[2016-01-23 20:21] PropaneDragon commented on #6
Yeah, sorry. If you get rid of the line it'll compile fine. I added that before switching branches and didn't carry it over with me.

[2016-01-23 20:23] PropaneDragon commented on #7
I'll look into it as soon as I can. My city has zero demand for commercial, so I'll have to figure out why that is and why some people have super high demand.

[2016-01-23 22:58] PropaneDragon commented on #7
I've fixed this issue now I think. Could you confirm it's fixed on your end? Thanks.

[2016-01-23 22:59] PropaneDragon commented on #6
I've got rid of this on the master branch now, just so you know.

[2016-01-23 23:54] r4j4h commented on #6
Great, thanks for letting me know. :)

[2016-01-23 23:54] #6 closed, assigned to nobody

[2016-01-24 00:02] seanCodes commented on #7
Thanks for the quick response! I'll take a look within the next couple hours and let you know.

[2016-01-24 00:45] r4j4h commented on #7
I am excited to hear how it fared for seanCodes, but for me, I experienced the super high demand before the update and after the update it seems to have reversed the behavior for me to zero demand.

[2016-01-24 00:47] PropaneDragon commented on #7
Ah. It might have been due to the previous high demand and the changing in demand because of the mod. I'll investigate it further. Thanks.

[2016-01-24 08:46] boformer opened #8 "Crash"
Happened to me twice now: https://gist.github.com/boformer/0d84278ff6d184ec5f62

[2016-01-24 10:15] PropaneDragon commented on #8
Did you do anything before the crash happened? I'll take a look at why this is happening now.

[2016-01-26 03:58] boformer commented on #8
I placed and deleted roads.

[2016-01-26 21:47] PropaneDragon commented on #8
Looks like it might be a conflict with another mod that modifies building AI. I'll have a look into it.

[2016-01-26 23:51] boformer commented on #8
The mod list is included. Though I wonder which mod would do this.

[2016-01-27 14:20] PropaneDragon commented on #8
So it is. The Traffic Report Tool seems to be a common mod with people that are crashing using this one.

Edit: Never mind about disabling those. Is this upon re-loading a city? If it is then I know the problem and I'll have it fixed soon.

[2016-01-27 16:36] david4worx opened #9 "Idea: show times in budget slider"
Right now the budget sliders are split in 2 parts, day and night but no clear indication when one is becoming active/inactive.
With this mod day/night budgets are becoming important (finally!) but with no clear indication as to when and what is happening it still feels like walking in absolute darkness.
![Budget slider](http://i.imgur.com/eFrxC1G.png)

Awesome work so far and keep it up!

[2016-01-27 16:47] david4worx opened #10 "Idea: garbage collection times"
Right now garbage collection is done quite randomly. At least, it feels that way. With the mod enabled and having garbage pickup like whenever things can get quite messy with the traffic, especially during rush hour.
Proposed solution is to start garbage collection late at night, early mornings (think between 01:00 or 04:00) or maybe even better, make it configurable.

[2016-01-27 17:05] PropaneDragon commented on #10
Garbage collection is done on an as-need basis like the rest of the simulation in Cities. I don't think I'll be able to change this without a lot of work unfortunately, but I'll look into it in the future. Thanks

[2016-01-27 17:06] PropaneDragon commented on #9
Good idea. I'll look into how possible this might be and see what I can do.

[2016-01-27 17:08] david4worx commented on #10
Thought it would. Feels like garbage, death and illness are a separate subject and not really compare in code as education for example. And this is from the very very limited browsing I've done in the codebase.

[2016-01-27 17:57] david4worx commented on #10
@PropaneDragon brainfart, wouldn't it be possible to just return early (false) on the dispatching of garbage trucks outside of a given timeframe? It should be able to re-use parts of the code responsible for not dispatching any more garbage trucks when the limit is reached, right? Just came to this as I went over parts of the ARIS overwatch mod, which hooks into the same parts.

[2016-01-27 17:58] PropaneDragon commented on #10
This is possible, but wouldn't trash become a huge issue at about mid day? Granted it would be cleared up at whatever time the garbage trucks set off, but it'll still be a bit of a mess.

[2016-01-27 18:02] david4worx commented on #10
I don't think it will be any different compared to the industry/commercial goods requirements.
Might be worth a try right?
If it does become a problem, there is always an option to reduce the garbage modifier for buildings, correct?

[2016-01-27 18:05] david4worx opened #11 "Idea: random events bound to policies"
IF possible, a new type of policy would be welcome. This is to block out the possibility that your underdeveloped city/district becomes swamped in traffic due to an event.
The workings would be the same as lets say, disabling high rise buildings in your region/district.
On region level this would mean that no random events take place.

P.s sorry in for dumping all these ideas :smile:

[2016-01-27 18:13] PropaneDragon commented on #10
Yeah, good point.

[2016-01-27 18:14] PropaneDragon commented on #11
That's a good idea. I was thinking of just adding a toggle to the options, but if I can add it to the policies and districts then that'll be a better option.

[2016-01-28 03:16] boformer commented on #8
I think it happens when you re-load, yes. From main menu.

[2016-01-28 09:19] PropaneDragon commented on #8
Ah OK. I know what that problem is, thanks.

[2016-02-01 06:27] r4j4h opened #12 "Options Menu settings save and are good for session but upon next game load are defaulted until Apply is hit again."
In the Options Menu, settings save and are good for the remainder of that play session but upon next game load are defaulted until Apply is hit again. Things seemingly are not broken, but this is because _the Options Menu shows the serialized settings and not the current state of the values_.

Let's take "Enable random events" (ERE). ERE defaults to true. On a blank slate starting Cities and going

[2016-02-01 11:23] #12 closed, assigned to nobody

[2016-02-03 15:04] DuoDex opened #16 "Events seem loth to fire"
I have quite a few of the unique buildings that should be firing events and cause people to visit them, etc as I see in the code for events at the Expo Center and Stadium, but I am not getting any Chirper messages nor any appearance of events on the time bar.

I have tried to force events using the options menu, but since none have ever fired, none fire after the previous one is over.

Maybe add a

[2016-02-03 15:07] PropaneDragon commented on #16
Interesting. The code should make them fire if there's no event scheduled. What landmarks do you have in your city?

[2016-02-03 15:10] DuoDex commented on #16
Every one in CityEventsBuildings.cs (I can read code, but damned if I can write it).

[2016-02-03 15:13] PropaneDragon commented on #16
Could you send me your log? It should say when/if an event was scheduled.

[2016-02-03 15:16] DuoDex commented on #16
I actually just left for work, but I will get it to you as soon as I can. player.log is the one right?

[2016-02-03 15:18] PropaneDragon commented on #16
output_log.txt in steamapps\common\Cities_Skylines\Cities_Data. Chances are this won't really tell me anything unless you've only just started using the mod, but we'll see. I might have to add some more debugging.

[2016-02-03 15:20] DuoDex commented on #16
Okay, thanks. Sorry for the confusion, I play Kerbal Space Program and output_log.txt is entirely useless to mod developers there.

[2016-02-03 15:21] PropaneDragon commented on #16
No problem :)

[2016-02-05 02:57] DuoDex commented on #16
After some poking, I figured that you want [player.log](https://gist.github.com/DuoDex/d851c557e942a74c463f) because I'm on Linux.

I'm getting events now, but no messages in Chirpy. Inclined to blame SuperChirper for that after digging through the log a bit.

(also wow, Enhanced Hearse AI throws a lot of exceptions).

[2016-02-06 09:49] PropaneDragon commented on #16
Thanks. I didn't realise Unity changed the log name per OS. I'll look into it now and see if I notice anything.

[2016-02-06 09:51] PropaneDragon commented on #16
Ah, turns out that log is incomplete by the looks of things. Had you started your game when you copied it, as that replaces it as it goes. I'll get some more logging in soon, and I'll ask you to send me a log again after your game has loaded.

[2016-02-07 20:45] DuoDex commented on #16
That should be complete, maybe Github truncated it accidentally or you were looking at the preview. Try [this](https://gist.githubusercontent.com/DuoDex/d851c557e942a74c463f/raw/97f8eb0e888b0b88154e2c63371aa1f54ecdd1eb/Player.log).

[2016-02-08 00:03] PropaneDragon commented on #16
That one works. Looks like Linux does a ton more debugging too. After having a look over the logs (on my tablet, so I might have missed something. I'll have a look again tomorrow), I've noticed events are firing fine from what I can tell but I have noticed some things which may be causing problems:
- You have a mod called SuperChirper which is failing when it gets to displaying chirps for the even

[2016-02-08 16:16] PropaneDragon commented on #16
Just taken a look on the PC now, and so far I've not noticed anything else unusual. I'm not sure about what date your city is at now, but your last event was at 11:00:02 PM, 4/13/2016 at the Stadium. The one before that was at 11:00:00 AM, 4/10/2016, also at the Stadium.

[2016-02-21 22:01] r4j4h opened #19 "Idea: Event Editor"
Rush Hour now features user customizable events.

We can have them come from assets and I believe I saw @PropaneDragon encouraging users to make their own custom ones by creating .XML files manually. This inspired the idea in me for Rush Hour to provide an editor for these events to make it easier for users.

At the very least being able to view a list of the currently loaded XML files and the cur

[2016-02-21 22:06] PropaneDragon commented on #19
Having something in-game to create events would be really nice. I like the idea of having it available in the options, and I've already re-organised the options into tabs but I'm yet to push any changes up regarding this. When I've got things organised properly maybe we could make a start on this?

I need to decide what I'm doing with allowing players to create their own events. I think this needs

[2016-02-21 22:27] r4j4h commented on #19
I agree, I primarily wanted to open up a discussion around it with you and get my energy out into something tangible we can benefit from down the road. :) I will try to keep an eye out, but if I don't catch wind don't hesitate to let me know when you want to move forward on this sort of thing. Can't wait to see the new tabs!

[2016-02-22 00:12] PropaneDragon commented on #19
I'll make sure to let you know. Also, the new options are up. Hopefully this is a bit tidier.

[2016-02-22 16:26] psde opened #20 "Almost no commuter traffic"
My city with a population of about 80k I almost see no residential or commuter traffic, not even on a Monday morning (where almost everyone should go to work). The city does not have any public transit and almost all traffic is originating from commercial and industry. There is some traffic in my leisure/entertainment areas, but almost exclusively from tourists.

One of my industry area is only ac

[2016-02-22 20:19] PropaneDragon commented on #20
This doesn't sound good. Are all the sliders where they should be? Try deleting the options xml file for the mod and try again. If none of those work, could I have your debug log?

[2016-02-26 16:28] PropaneDragon commented on #20
Did you resolve this, or is this still an issue?

[2016-02-26 16:29] PropaneDragon commented on #16
Did this resolve the issue, or is it still a problem?

[2016-02-26 16:30] PropaneDragon commented on #7
I'm going to guess this is fixed now and close the issue. Let me know if this is not the case, but it has been a while.

[2016-02-26 16:30] #7 closed, assigned to PropaneDragon

[2016-02-26 16:31] PropaneDragon commented on #8
This should be fixed for this mod now.

[2016-02-26 16:31] #8 closed, assigned to PropaneDragon

[2016-02-29 04:08] DuoDex commented on #16
Ah, yeah, I haven't been playing C:S much recently, but tonight events do seem quite more likely to work. Thanks!

[2016-02-29 04:08] #16 closed, assigned to nobody

[2016-02-29 08:54] psde commented on #20
I think this was an issue with another mod, starting a new city with only rush hour mod enabled resulted in (a lot of) commuter traffic. While re-enabling other mods did not result in any less traffic in the new city, the old city still does not generate any (even with only rush hour enabled) - maybe another mod (or the patch) broke something permanently.

[2016-02-29 08:54] #20 closed, assigned to PropaneDragon

[2016-02-29 14:20] PropaneDragon commented on #20
What mods do you have?

[2016-02-29 19:52] bloodypenguin commented on #9
Isn't sun/moon indicator in the bottom left corner of the screen what you need?

[2016-03-01 06:57] david4worx commented on #9
@earalov that is one way I guess. Still, I find it kinda hard to adjust the budget properly (maximize profit) for the night without the actual times. Sometimes I have the feeling adjusting things would screw up my traffic for instance because my observations are off by 2 or 3 hours (either in day or night)

[2016-03-04 00:08] PropaneDragon commented on #9
Yeah, I can see what you mean and I'd love to do it later on in development. I want to do it in a way where I won't be messing with too much of the game though, just incase an update gets to it and I have to do a ton of work to get it back up to date.

[2016-03-09 20:40] PropaneDragon opened #22 "Double, triple, quadruple check demands are working right for everyone"
Demand for everything was a quick workaround to the faulty demand in the game when the mod is enabled. Demand on all types of games should be checked to make sure it works as it should.

[2016-03-09 20:44] PropaneDragon opened #23 "User made events"
Allow users to make their own events.
- [x] Needs to work around the existing XML system
- [x] Should be very little/no need to add anything to the existing XML events. Don't really want to have people update all their custom events.
- [x] Needs a UI that fits into the game and isn't confusing
- [x] Needs balancing. Should cost loads, but gains shouldn't be easy to get from the system.
- [x] Prope

[2016-03-09 20:46] PropaneDragon opened #24 "Find a workaround for including CimTools in the mod"
I did a stupid and included the dll of CimTools in the mod from the get-go instead of adding it as a required mod. Because of this I need many different versions of CimTools to avoid any clashing with mods that use other versions.

We need a workaround or a good idea to either decrease the number of CimTools floating around there, or find a way of subscribing to a global CimTools mod without screw

[2016-03-10 02:34] bloodypenguin commented on #24
Just do something like [this](https://github.com/earalov/Skylines-MoreFlags/blob/master/MoreFlags/LoadingExtension.cs#L147). User sees the popup and installs the mod.

[2016-03-10 10:39] PropaneDragon commented on #24
I want to consider a way that doesn't nag the user before going down that route. I'd hate to force existing users to subscribe to another workshop item when they didn't have to originally, although it would make life easier for me.

I might put something in as soon as the mod is loaded if I have to do this, so it doesn't wait until they've gone through the whole city loading process first (which c

[2016-03-20 19:05] cptalpdeniz commented on #3
But, what will happen if a place which is farther has more entertainment and radius values than the closer one?

[2016-03-22 12:54] riccardobecker opened #26 "What branch to use?"
Hi there,
I downloaded the release branch but that caused some errors in VS2015 like
'DistrictPolicies.Policies' does not contain a definition for 'ExtraInsulation'

thanks

[2016-03-22 13:32] riccardobecker commented on #26
already fixed..had to download the latest skylines

[2016-03-25 04:01] #26 closed, assigned to nobody

[2016-03-25 04:01] r4j4h commented on #26
Glad you got things fixed so easily =) Closing the issue, it should still come up in search if anyone looks for the error you included. :+1:

[2016-03-26 15:59] SamsamTS opened #27 "Please fix OnSettingsUI"
Hi there PropaneDragon,

Can you please change
`UIButton componentInChildren = Resources.FindObjectsOfTypeAll<OptionsKeymappingPanel>()[0].GetComponentInChildren<UITabstrip>().GetComponentInChildren<UIButton>();`

to

`UIButton componentInChildren = GameObject.Find("KeyMappingTabStrip").GetComponentInChildren<UIButton>();`

It is not safe. I cannot use OptionsKeymappingPanel because of this.

[2016-03-27 00:55] PropaneDragon commented on #27
Sorry about that. I'm away for a week unfortunately, but I'll fix it as soon as I get back. Thanks for the fix.

[2016-03-29 12:22] SamsamTS commented on #27
I end up copying the decompiled version of OptionsKeymappingPanel instead of inherit from it so it's all good now. I still wouldn't recommend the use of Resources.FindObjectsOfTypeAll because there is no guaranty that the first element is the one you want.

You can close this issue if you want.

[2016-04-06 12:24] riccardobecker commented on #26
Btw, a bit off-topic maybe but I am looking for good resources on building own mods. There doesn't seem to be much out there!

[2016-04-06 14:03] PropaneDragon commented on #26
Documentation is very basic, but I'd begin with the wiki on CIties Skylines which says how to make a basic mod, then you should try decompiling some of the DLLs that Skylines uses as they've not obfuscated them thankfully. Unfortunately from there on out you have to pretty much work out how everything works from the decompiled code without comments.

[2016-04-07 09:24] riccardobecker commented on #26
Yes that's a shame :-) I know the basics and I've managed to build some custom mods though. Hope someone has the time to create a proper tutorial though!

[2016-04-13 23:06] PropaneDragon commented on #27
This should be fixed now.

[2016-04-13 23:06] #27 closed, assigned to PropaneDragon

[2016-04-14 11:45] PropaneDragon opened #28 "Stuttering every few seconds"
It seems a lot of people are having some stuttering issues when running the mod after the localisation update. Might be something to do with the date/time bar (maybe getting a translation is expensive for some reason?), but needs more investigation.

[2016-04-14 11:47] PropaneDragon opened #29 "Crashing when changing language ingame"
Apparently, changing the language while in a city causes the game to completely crash. Needs investigating.

[2016-04-14 11:49] PropaneDragon opened #30 "Language not English by default"
I know what this problem is, but it still needs fixing. For future reference - it's because the language is set for "English (United Kingdom)" by default, but I changed the xml file recently to only read "English", which probably screws with the initial language state.

[2016-04-14 11:50] PropaneDragon opened #31 "Add additional languages"
Spanish language is done, and Dutch language needs updating. [See here](http://steamcommunity.com/workshop/filedetails/discussion/605590542/365163686086133413).

[2016-04-14 16:29] #30 closed, assigned to PropaneDragon

[2016-04-14 20:13] #29 closed, assigned to PropaneDragon

[2016-04-14 20:14] #31 closed, assigned to PropaneDragon

[2016-04-14 20:14] #28 closed, assigned to PropaneDragon

[2016-04-14 20:15] PropaneDragon opened #32 "Upon loading a city, changing the language in the options only changes one panel at a time"
Absolutely no idea why this is, so this might take a bit of fixing.

[2016-06-12 09:46] #32 closed, assigned to PropaneDragon

[2016-06-12 09:48] PropaneDragon commented on #24
Found a way of doing it, but it's a bit convoluted and hacky so I decided against it. I'm just going to keep including CimTools in Rush Hour releases, but I change the namespace of the Rush Hour version so it doesn't conflict in the future.

See 3e4371356073bd9e45bb9cde9ed04012b45ca44d and 46cea0dfc3fc25763d06531b2e88d2890940ffb7

[2016-06-12 09:48] #24 closed, assigned to nobody

[2016-06-12 09:52] #23 closed, assigned to nobody

[2016-06-12 09:56] PropaneDragon opened #33 "Fix compatibility with Time Warp?"
Since the Football update and the event system CO integrated the time speed in Time Warp no longer works with the event blips in Rush Hour. Potentially fix this issue?

[2016-06-12 10:04] PropaneDragon opened #34 "New BuildingWorldInfoPanel issues"
Some people are having issues with the custom BuildingWorldInfoPanel.

`System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.NullReferenceException:
at (wrapper managed-to-native) UnityEngine.Component:GetComponentFastPath (System

[2016-06-12 10:11] PropaneDragon opened #35 "Double check Rush Hour events are still working"

[2016-06-12 10:12] PropaneDragon opened #36 "Check recent code changes for the Football update are mirrored in detoured code"

[2016-06-12 10:31] PropaneDragon opened #37 "Fix monument printing erroring out when there are no monuments in the city."

[2016-06-12 10:35] PropaneDragon opened #38 "Option for cims to go to only local buildings for commercial needs"
Maybe including a slider that allows a percentage chance of going local only.

Also check:
- [x] Performance remains good
- [x] Randomisation? People from the same buildings choose the same target buildings locally. Is this important/noticeable?

[2016-06-12 10:37] PropaneDragon opened #39 "Completed football games show the wrong date"
Change to the date/time system in Rush Hour

[2016-06-12 16:30] #39 closed, assigned to PropaneDragon

[2016-06-12 16:31] PropaneDragon commented on #37
Unsure whether this is fixed just yet. Should be though, so I'll reopen if not.

[2016-06-12 16:31] #37 closed, assigned to PropaneDragon

[2016-06-12 16:32] PropaneDragon commented on #19
Don't know whether you're still working with Cities anymore, but it'd be nice to get this in at some point now events are sort of stable. Let me know if you want to work on this, or not.

[2016-06-13 19:34] PropaneDragon opened #40 "Citizens don't stay at game events"
Code isn't mirrored in Rush Hour yet, so it requires some entries to take into consideration events that are happening.

[2016-06-13 22:27] #40 closed, assigned to PropaneDragon

[2016-06-13 23:39] #35 closed, assigned to PropaneDragon

[2016-06-15 21:16] PropaneDragon opened #41 "Separate time speeds for day and night"
Link to #42?

[2016-06-15 21:18] PropaneDragon opened #42 "Allow users to modify when night starts"
Possible issues that might need checking out:
- [x] Does modifying when night starts affect when the sun goes down?
- [x] Does this mess with anything relying on checks to see whether it's night time?
- [ ] Is this more work than it's worth, and is there an easier way?

[2016-06-15 21:22] PropaneDragon opened #43 "Allow users to override the event at the football stadium and use Rush Hour events"
- [ ] Do users want this?
- [ ] Will it take ages to do?

[2016-06-15 21:23] PropaneDragon commented on #34
Added some extra null checks, so this needs verifying by users when the next update goes out.

[2016-06-15 21:24] PropaneDragon opened #44 "Make ghost mode work!"
- [x] Enable option
- [x] Make sure most of the code is disabled when active
- [x] Make sure option saves

[2016-06-15 21:30] PropaneDragon opened #45 "Events get really duplicated on some machines"
- [x] Add an option to remove all events?
- [ ] Find out why this is happening. No one's really posted a bug report that gives me any details.

[2016-06-15 21:31] PropaneDragon opened #46 "Add an event viewer/editor"
Some sort of calendar to edit scheduled events?

[2016-06-16 18:21] #44 closed, assigned to PropaneDragon

[2016-06-16 18:37] #36 closed, assigned to PropaneDragon

[2016-06-16 18:42] PropaneDragon commented on #45
Do people that have this issue have the force command enabled?

Also, why would they have this enabled?

[2016-06-17 22:12] #34 closed, assigned to PropaneDragon

[2016-06-17 22:12] #45 closed, assigned to PropaneDragon

[2016-06-17 23:27] PropaneDragon opened #47 "Is Rush Hour causing start up crashes?"
- [x] Getting something from online on startup?
- [x] CimTools?
- [x] Downloading change log?

[2016-06-18 20:27] PropaneDragon commented on #47
No. It's Steam. UGC error 15 means it can't get the details of a mod which causes the game to crash.

[2016-06-18 20:27] #47 closed, assigned to PropaneDragon

[2016-06-18 20:29] PropaneDragon commented on #3
I've sort of implemented this now (finally). It'll be in the next update but allows cims to only go to local destinations for shopping in some cases. At night they will only go locally though.

[2016-06-18 20:29] #3 closed, assigned to nobody

[2016-06-18 20:30] #38 closed, assigned to PropaneDragon

[2016-06-19 08:15] #42 closed, assigned to PropaneDragon

[2016-06-19 08:15] #41 closed, assigned to PropaneDragon

[2016-07-04 22:23] PropaneDragon opened #49 "Event start and end causes CTDs for some people."
`000000013FE93178 (Cities) JobQueue::ExecuteOneJob
000000013FBE651B (Cities) operator new
000000013FBE5175 (Cities) operator new
000000013FBE2A10 (Cities) operator delete
000000013FBE2D76 (Cities) operator delete
000000013FD52F43 (Cities) MonoManager::UnloadSystemAssemblies
000000013FED6494 (Cities) ShaderLab::FastPropertyName::Init
000000013FECC20C (Cities) ShaderLab::FastPropertyName::Init
00000

[2016-07-04 22:24] PropaneDragon commented on #46
Now part of an external program inside the mod.

[2016-07-04 22:24] #46 closed, assigned to PropaneDragon

[2016-07-04 22:26] PropaneDragon opened #50 "Allow events to occur at non-landmark buildings"
The mod should choose a random building to host an event at if there's more than one of the building in the city. That way I can just allow the mod to host events wherever the player wants them hosted.

[2016-07-08 11:47] Jonno12345 opened #51 "Issue building from source - EventPopupManager._panel = null?"
Hey, I realise this may be an issue with my build set up, I just can't seem to understand where.

Upon building the latest source and adding the mod, I get the following:

[code]

Trying to debug the issue, it seems like _panel never initialises with an object:

![image](https://cloud.githubusercontent.com/assets/16970890/16686401/15ab5256-453c-11e6-9ca7-8db2c353a83f.png)

![image](https://cloud.g

[2016-07-08 19:31] PropaneDragon commented on #51
That's really strange. It does definitely seem like Unity isn't creating the panel right, but I can't understand why. Maybe the `mainUIGameObject` isn't getting created correctly. I can't say I've ever come across this before though.

[2016-07-09 15:17] Jonno12345 commented on #51
Hmm, fair enough. Must be a problem my end, although I'm not quite sure where..! Just wondered if you'd experienced it at all. Please file this issue as appropriate, will do some further digging my side :)

[2016-07-10 10:23] Jonno12345 commented on #51
Do you know if it's possible to see Unity debug output anywhere? I'm not sure if it could be showing me a more useful failure log somewhere hidden away.

[2016-07-10 11:30] PropaneDragon commented on #51
Unity creates an output_log.txt file in the game directory. It might be advantageous for you to use [ModTools](https://steamcommunity.com/sharedfiles/filedetails/?id=450877484) to debug, as it has a better output and allows you to debug the UI which is probably what you want.

[2016-07-11 10:17] PropaneDragon opened #52 "Issues around creating and ending events"
[code]

[2016-07-11 10:19] PropaneDragon opened #53 "Setting the sunrise and sunset sometimes goes wrong"
Users have noted that sunrise is happening very late on in the day. Could this be to do with the 24 hour clock, or a conversion between the slider and the game's time?

[2016-07-11 13:10] bloodypenguin commented on #53
Two more possible cases:
1. Lat/long affecting that in some way
2. [Whatimizit mod](https://steamcommunity.com/sharedfiles/filedetails/?id=524088211) by S.Klyte installed at the same time

[2016-07-11 15:56] DaEgi01 opened #54 "More diversed lunch break"
I have an issue with the lunch break habits of my cims.
They tend to be crazy about certain commercial buildings, while completely ignoring other opportunities. Problem is most visible for universities and high-schools, where during lunch time a giant crowd will rush out, all going to the same store.
I guess it is not due to a new iPhone release in that store or something ;)
It looks funny and hil

[2016-07-11 16:10] PropaneDragon commented on #54
Yeah, this is due to how the AI get a random building. They all pick the same building because it's generated from their current building I believe. I might be able to do something in the future but I'm not sure.

[2016-07-24 01:18] r4j4h commented on #19
Ah, I'm sorry for letting this go unresponded to for so long! I do intend on getting back to Cities and RushHour, but it will be a few weeks from now before I get the time, so feel free to get started without me if you want!

[2016-07-24 09:39] PropaneDragon commented on #19
It's fine :). I ended up adding one in as an external program, as doing heavy UI stuff in Cities is just awful.

[2016-07-26 20:01] Xiona1 opened #55 "Time is locked upon new game or load save"
never had issue with this mod till recently where when starting new game or loading a previous game save time in bottom left is locked at Sunday 0:00, Day/night cycle keeps runs like normal, and there is also no options for rush hour in menu and i receive the following error upon enabling mod

A Mod caused an error [System.Exception]

Details:
System.Reflection.TargetInvocationException: Exception

[2016-07-26 20:12] Xiona1 commented on #55
i get the error above and this error upon loading old save or starting new game

The Mod C:\Users\*****\AppData\Local\Colossal Order\Cities_Skylines\Addons\Mods\605590542 Rush Hour [Beta] [CimTools.dll, RushHour.dll] has caused an error [ModException]

Details:
System.MissingFieldException: Field '.EventData.m_color' not found.
  at RushHour.UI.DateTimeBar.Update () [0x00000] in <filename unknown>

[2016-07-31 17:32] PropaneDragon commented on #55
I posted a similar message on the Steam forums, but I did some searching around as I do for everyone with this issue and found you don't actually appear to own the game (on that account).

The mod is specifically and purposefully broken on pirated versions of the game, but sometimes people that own the game have issues too. If you own the game could you post from the account on the Steam forums, o

[2016-08-01 22:30] Xiona1 commented on #55
The copy I own isn't linked to steam as it is a Disc copy however after updating to the match day (after not having Internet for a while) the mod is working normally. Sorry for wasting your time.

[2016-08-02 06:37] #55 closed, assigned to nobody

[2016-08-02 08:37] PropaneDragon commented on #55
Ah ok. I was under the assumption you had to have it linked to a Steam account anyway for the workshop stuff. Glad it's working now though. You wouldn't happen to have an old debug log lying around somewhere would you? I'd like to look at the error and see whether I can send anyone who's not updated yet a message.

[2016-08-02 08:38] PropaneDragon opened #56 "Reduce ambient sounds of buildings during night (if possible)"
http://steamcommunity.com/workshop/filedetails/discussion/605590542/353915309352555408/

[2016-08-02 21:23] Xiona1 commented on #55
I am not sure where the debug logs are if you can tell me where they are located I can send it to you.

[2016-08-18 22:08] PropaneDragon opened #57 "Cities crashing is actually Rush Hour after all"
Turns out the language selection is completely fucked for some reason. I still need to figure out why it's messed up as much as it is, but it appears to be when it's loading XML language files up or applying languages to the UI.

I also still have no idea why setting Steam to offline mode fixes it...

[2016-08-19 07:36] bloodypenguin commented on #57
I didn't looks at code but threading issues is what comes to mind first. Check out which threads have access to that code.

[2016-08-20 17:19] PropaneDragon commented on #57
It could very well be, but I'm not entirely sure how I'd check the threads inside the game. It'd be nice if we could attach the VS debugger to it, but that's very unlikely.

[2016-08-21 07:18] bloodypenguin commented on #57
Just print current thread name in the problematic code to see which threads invoke it

[2016-09-04 10:40] Dezelles opened #58 "French translation & notes"
[Rush Hour 04-09-16.zip](https://github.com/PropaneDragon/RushHour/files/453892/Rush.Hour.04-09-16.zip)

[2016-09-15 21:03] PropaneDragon commented on #58
Added :)

[2016-09-15 21:03] #58 closed, assigned to nobody

[2016-11-29 21:10] PropaneDragon commented on #57
Fixed in 1.6

[2016-11-29 21:10] #57 closed, assigned to PropaneDragon

[2017-06-11 12:58] KeMpeRr opened #61 "Not working with a DLC - Mass Transit"
Not working correctly.
If reload save - game crash.

[2017-10-22 02:38] lediur opened #62 "1.9.0 - Exception when NewPassengerCarAI attempts to redirect FindParkingSpace"
The 1.9.0 update seems to have changed the `PassengerCarAI` interface by removing the `FindParkingSpace` and `FindParkingSpaceBuilding` methods.

However, the `NewPassengerCarAI` still overrides these implementations, and attempts to redirect these methods. This causes a ModException (ArgumentNullException) upon game start.

[code]

I added some logging to the RushHour.dll and tracked it down to r

[2017-10-25 18:32] abreto42 commented on #62
This seems to coincide with behavior I am noticing. The error message I have seen is the same, but in my environment I use Traffic Manager: PE's parking logic which doesn't result in exceptions. The end result is that -- surprisingly -- all of the other behaviors work as expected.

[2017-10-25 18:40] abreto42 commented on #56
BloodyPenguin has created a mod that does in fact achieve this:

https://steamcommunity.com/sharedfiles/filedetails/?id=818641631&searchtext=sound+tuner

The code is also on GitHub, though since the functionality is covered by that mod; either direct users to use this mod or borrow the functionality with BP's permission?

[2017-10-27 06:43] PropaneDragon commented on #62
I've merged everything in that @nanofi changed. I just need to test it, and possibly make some tweaks for the new version, then I can actually publish the update.

[2017-10-30 13:43] t1a2l opened #65 "CimTools Error"
WebException: The request timed out
  at System.Net.HttpWebRequest.EndGetResponse (IAsyncResult asyncResult) [0x00000] in <filename unknown>:0
  at System.Net.HttpWebRequest.GetResponse () [0x00000] in <filename unknown>:0
  at System.Net.WebClient.GetWebResponse (System.Net.WebRequest request) [0x00000] in <filename unknown>:0
  at System.Net.WebClient.DownloadDataCore (System.Uri address, System

[2017-10-31 03:11] NoShotz commented on #62
Any updates on the status of the update?

[2017-11-01 21:19] PropaneDragon commented on #65
This is a tool within the mod trying to access the Steam community in order to download the change logs. I'll see why it's erroring out rather than failing gracefully.

[2017-11-01 21:21] t1a2l commented on #65
Great thank you

[2017-11-01 21:24] PropaneDragon commented on #62
All merged in and live. Thanks to @nanofi and @lediur for their contributions.

[2017-11-01 21:24] #62 closed, assigned to nobody

[2017-11-03 20:09] serialtasted opened #67 "Game crash (maybe UI related)"
From time to time game crashes. Can't tell you how to exactly recreate the problem because it just happens.

I think it's when a event ends or starts and t«your mod calls for the UI to show the message that and event has ended or started. I'll try to see if it's related to it and post here if I discover any more information.

[2017-11-03 20:34] serialtasted commented on #67
Yes, it's related with the events

[2017-11-03 21:37] PropaneDragon commented on #67
It might be thread related. I disabled some UI stuff in the past because of it. Thanks.

[2017-11-09 12:28] KirillNaumkin commented on #4
+1

[2017-11-25 01:40] pcfantasy opened #69 "Strange behaviour about arrested person."
@PropaneDragon

I notice a Strange behaviour about arrested person

In your ResidentLocationHandler.ProcessGenerics, you just let arrested person free, why would you do that?

	else if (person.Arrested)
	{
		if (currentLocation == Citizen.Location.Visit && num == 0)
		{
			person.Arrested = false;
		}
		else
		{
			person.Arrested = false;
		}
	}

[2017-12-01 07:46] boniboni commented on #69
I find this strange as well. Doesn't make sense.

[2018-03-04 03:27] GentlemanXu opened #70 "Game Crashed:Read from location 00000000 caused an access violation."
Game Crashed

========== OUTPUTING STACK TRACE ==================

  ERROR: SymGetSymFromAddr64, GetLastError: 'Attempt to access invalid address

' (Address: 00007FF74D785B58)
0x00007FF74D785B58 (Cities)
  ERROR: SymGetSymFromAddr64, GetLastError: 'Attempt to access invalid address

' (Address: 00007FF74D7862E6)
0x00007FF74D7862E6 (Cities)
  ERROR: SymGetSymFromAddr64, GetLastError: 'Attempt to a